<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<title>My Asset</title>
</head>

<body>
<h2>Key Create Form</h2>

<form action="/key" method="post">
  Key name:<br>
  <input class= "form-control" type="text" name="key" value="Mickey">
  <br><br>
<form action="/key" method="post">
  Key Value:<br>
   <input class= "form-control" type="text" name="value" value="100">
  <br><br>
  <input type="submit" value="Submit" class="btn btn-danger">
</form> 

</body>
</html>